.Account_dialog_popup {
    outline: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #101010;
    width: 48%;
    min-height: 56vh;
    border: none;
    border-radius: 8px;
    padding: 80px;
}

.Account_div_info {
    background-color: rgb(20, 20, 20);
    padding: 32px;
    display: flex;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.Account_dialog_popup::backdrop {
    background: rgb(0, 0, 0, 0.5);
}

.Account_div_main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.Account_div_user {
    background-color: rgb(24, 24, 24);
    width: 280px;
    border-radius: 16px;
    display: flex;
    padding: 32px;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow: auto;
    cursor: pointer;
    margin: 8px;
}

.Account_div_user:hover {
    background-color: rgb(28, 28, 28);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.Account_div_userInfo {
    display: flex;
    flex-direction: column;
    word-break: break-all;
    max-width: 72%;
}

.Account_div_userInfo h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #ffffffcc;
}

.Account_div_userInfo p {
    font-size: 15px;
    font-weight: 400;
}

.Account_div_settings {
    background-color: rgb(20, 20, 20);
    border-radius: 32px;
    display: flex;
    height: 34vh;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
}

.Account_div_settings p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 6px;
    border-radius: 32px;
    width: 90%;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 12px;
}

.Account_div_settings p:hover {
    background-color: rgb(24, 24, 24);
    cursor: pointer;
}