.Signup_div_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Signup_div_logo {
    font-size: 16px;
    font-weight: 500;
    color: #ffffffdc;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 8px 0px 24px;
}

.Signup_div_left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.76)), url('../../../assets/backgr.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-bottom-right-radius: 48px;
    border-top-right-radius: 48px;
    width: 60%;
}

.Signup_div_signup {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Signup_div_signup input {
    outline: none;
    border: none;
    background-color: rgb(20, 20, 20);
    width: 380px;
    height: 28px;
    border-radius: 6px;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
}

.Signup_div_signup button {
    cursor: pointer;
    width: 400px;
    height: 46px;
    background-color: #fff;
    color: black;
    border: none;
    margin-top: 24px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
}

.Signup_p_titleLeft {
    margin: 12px;
    font-size: 32px;
    font-weight: 600;
}

.Signup_p_title {
    margin: 24px;
    font-size: 42px;
    font-weight: 600;
}

.Signup_p_subtitle {
    color: #ffffffb4;
    font-size: 18px;
    font-weight: 500;
}

.Signup_div_signup a {
    text-decoration: none;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffffb4;
    cursor: pointer;
}

.Signup_div_signup a:hover {
    color: #fff;
}

.Signup_p_error {
    display: flex;
    justify-content: center;
    background-color: #EE4540;
    padding: 16px;
    font-weight: 500;
}